/* lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* body related styles */
* {
  margin: 0;
  padding: 0;
  color: rgb(39, 39, 39);
  font-family: "Lato", sans-serif;
}

/* common styles */
.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-description {
  color: rgb(156, 148, 150);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.section-text {
  max-width: 485px;
  text-align: center;
  margin: 0 auto;
}

.section-text * {
  margin-bottom: 18px;
}

.section-heading {
  font-size: 36px;
  font-weight: 800;
}

.primary-btn {
  background-color: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  transition: 0.7s;
}

.primary-btn:hover {
  background-color: rgb(207, 48, 79);
}

#banner-section,
#hot-deal-section {
  background: rgba(229, 84, 115, 0.1);
}

/* banner section related styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-container .banner-text .banner-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
}

.banner-container .banner-text * {
  max-width: 530px;
  margin-bottom: 24px;
}

.banner-container .banner-img {
  max-width: 475px;
}

.banner-container .banner-img img {
  padding-top: 50px;
  vertical-align: bottom;
  width: 100%;
}

/* featured-flowers section related styles */
#featured-flowers-section {
  margin-top: 100px;
}

.featured-images {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-top: 40px;
}

.featured-images figure {
  max-height: 410px;
}

.featured-images figure .featured-img {
  border-radius: 300px 300px 0px 0px;
  height: 345px;
  display: flex;
  align-items: end;
  padding: 18px 36px 0;
}

.featured-images figure .featured-img img {
  max-width: 235px;
  width: 100%;
}

.featured-images figure figcaption {
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}

.pink {
  background-color: rgba(167, 33, 98, 0.15);
}

.blue {
  background-color: rgba(5, 151, 160, 0.15);
}

.green {
  background-color: rgba(71, 125, 17, 0.15);
}

/* featured-service section related styles */
#featured-service-section {
  margin-top: 100px;
}

.featured-service-container {
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: center;
  border-radius: 6px;
}

.featured-service-container figure {
  max-width: 280px;
}

.featured-service-container figure img {
  margin-bottom: 10px;
  width: 80px;
}

.featured-service-container figure figcaption {
  color: rgb(115, 115, 115);
  font-size: 16px;
  font-weight: 600;
}

/* hot-deal section related styles */

.imp {
  color: rgb(229, 84, 115);
}

.hot-deal-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  padding: 100px 0;
}

.hot-deal-container .hot-deal-img {
  max-width: 240px;
}

.hot-deal-container .hot-deal-img img {
  width: 100%;
}
